@font-face {
  font-family: "vazir-regular";
  src: url("/assets/fonts/vazir-regular.woff2");
}
@font-face {
  font-family: "vazir-d";
  src: url("/assets/fonts/vazir-d.woff");
}
@font-face {
  font-family: "farsi-digit";
  src: url("/assets/fonts/farsi-digit.woff2");
}
html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
  direction: rtl;
}
body {
  //   direction: rtl !important;
  //   text-align: right;
  font-family: "farsi-digit" !important;
  background: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
.top-bar_price {
  font-size: 12px;
  font-weight: 400;
  color: $dark;
}
@media (max-width: 430px) {
  .top-bar_price {
    font-size: 10px;
  }
}
@media (max-width: 430px) {
  .top-bar_logo img {
    width: 73px;
    height: 25px;
  }
}
.main-header {
  background-color: rgba(255, 245, 224, 0.2);
  .main-header_nav-links ul {
    display: flex;
    gap: 50px;
    li {
      list-style-type: none;
      font-size: 18px;
      a {
        text-decoration: none;
        color: black !important;
        &:active {
          color: #0e46a3 !important;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .main-header {
    .main-header_nav-links ul {
      gap: 35px;
    }
  }
}
.main-header_nav-links-li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: #484848 !important;
  text-shadow: 4px -3px 8px rgba(0, 0, 0, 0.13);
}
.main-header_items {
  display: flex;
  align-items: center;
  gap: 35px;
  span {
    font-size: 22px;
  }
  a {
    text-decoration: none;
    color: black !important;
    &:active {
      color: #0e46a3 !important;
    }
  }
}
@media (max-width: 430px) {
  .main-header_items {
    gap: 20px;
    span {
      font-size: 18px;
    }
  }
}
.main-header_search {
  position: relative;
}
.main-header_items input {
  transition: width 0.3s ease-in-out;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  outline: none;
  border-radius: 10px;
}

.main-header_search .icon-search {
  position: absolute;
  left: 7px;
  // top: 12px;
  top: 50%;
  transform: translateY(-50%);
}
// .landing-top-box_img {
//   border-radius: 24px;
// }

.landing-top-box_title {
  position: absolute;
  left: 15px;
  bottom: 50px;
  div {
    font-size: 40px;
  }
}
@media (max-width: 811px) {
  .landing-top-box_title {
    left: 15px;
    bottom: 10px;
    div {
      font-size: 22px;
    }
  }
}
@media (max-width: 430px) {
  .landing-top-box_title {
    left: 15px;
    bottom: 10px;
    div {
      font-size: 22px;
    }
  }
}
.card1_wrapper {
  position: relative;
  border-radius: 24px;
  .card1_title {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .card1_wrapper {
    .card1_title {
      font-size: 14px;
    }
  }
}
.card2-wrapper {
  border-radius: 0 0 24px 24px;
  .card2-wrapper_img {
    position: relative;
    .card2-wrapper_like {
      position: absolute;
      top: 15px;
      left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      opacity: 0.7;
    }
  }
  .card2-wrapper_content {
    border-radius: 0 0 24px 24px;
    .card2-wrapper_price {
      // font-family: "vazir-d" !important;
      font-size: 16px;
      .card2-wrapper_button {
        border-radius: 12px;
        font-size: 14px;
        .v-btn__content {
          letter-spacing: 0;
        }
      }
    }
  }
}
.card3-wrapper {
  position: relative;
  height: 100%;
  .card3-wrapper_like {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0.7;
  }
  .card3-wrapper_img {
    height: 100%;
    img {
      border-radius: 30px;
      height: 100%;
    }
  }
  .card3-wrapper_info {
    background-color: rgba(219, 228, 198, 0.6);
    border-radius: 38px;
    padding: 2.5rem 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    // display: flex;
    // justify-content: space-around;
    font-size: 20px;
    // align-items: center;
    border: 1px solid #dbe4c6;
    .card3-wrapper_button {
      border-radius: 16px;
      letter-spacing: 0;
    }
  }
}
@media (max-width: 430px) {
  .card3-wrapper {
    .card3-wrapper_info {
      font-size: 14px;
      padding: 1rem 1rem;
    }
  }
}
.card4-wrapper {
  position: relative;
  height: 100%;
  .card4-wrapper_like {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0.7;
  }
  .card4-wrapper_img {
    height: 100%;
    img {
      border-radius: 38px;
      height: 100%;
      filter: brightness(70%);
    }
  }
  .card4-wrapper_info {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 38px;
    padding: 1rem 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    // display: flex;
    // justify-content: space-around;
    font-size: 16px;
    // align-items: center;
    border: 1px solid #dbe4c6;
    .card4-wrapper_button {
      border-radius: 16px;
      letter-spacing: 0;
    }
  }
}
@media (max-width: 430px) {
  .card4-wrapper {
    .card4-wrapper_info {
      font-size: 14px;
      padding: 1rem 1rem;
      .card4-wrapper_info-title {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}
.category_title {
  font-size: 24px;
  margin-bottom: 1rem;
}
@media (max-width: 430px) {
  .category_title {
    font-size: 22px;
  }
}
.poster-wrapper {
  position: relative;
  .poster-wrapper_text {
    position: absolute;
    font-size: 40px;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .poster-wrapper_text2 {
    position: absolute;
    font-size: 40px;
    white-space: nowrap;
    right: 5%;
    top: 33%;
  }
  .poster-wrapper_text3 {
    position: absolute;
    font-size: 40px;
    white-space: nowrap;
    left: 5%;
    bottom: 33%;
  }
  img {
    border-radius: 52px;
    height: 520px;
    object-fit: cover;
  }
}

@media (max-width: 1020px) {
  .poster-wrapper {
    .poster-wrapper_text,
    .poster-wrapper_text2,
    .poster-wrapper_text3 {
      font-size: 24px;
    }
    img {
      border-radius: 52px;
      height: 276px;
    }
  }
}
@media (max-width: 430px) {
  .poster-wrapper {
    .poster-wrapper_text,
    .poster-wrapper_text2,
    .poster-wrapper_text3 {
      font-size: 16px;
    }
    img {
      border-radius: 24px;
      height: 193px;
    }
  }
}
.main-footer {
  padding-top: 3rem;
  .main-footer_item {
    list-style-type: none;
    font-size: 16px;
    margin: 16px 0;
    .main-footer_link {
      text-decoration: none;
      color: #000000;
    }
  }
  .main-footer_title {
    margin: 16px 0;
    font-size: 20px;
    font-weight: 700;
  }
  .main-footer_text {
    font-size: 20px;
    text-align: justify;
  }
  .main-footer_copyright {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 2rem 0;
  }
}

@media (max-width: 430px) {
  .main-footer {
    .main-footer_title {
      font-size: 10px;
    }
    .main-footer_text {
      font-size: 10px;
    }
    .main-footer_item {
      font-size: 10px;
    }
    .main-footer_copyright {
      font-size: 10px;
    }
    .main-footer_enamad {
      width: 100%;
    }
  }
}

.sidebar {
  background-image: url("../../assets/images/sidebar-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  position: fixed;
  height: calc(100% - 0px);
  bottom: 0px;
  width: 1000px;
  padding: 2rem 1rem;
  .v-list {
    background-color: transparent;
  }
}
@media (max-width: 430px) {
  .sidebar {
    background-position: right;

    background-size: contain;
  }
}
.breadcrumb {
  .v-breadcrumbs-item--link {
    text-decoration: none !important;
  }
  .v-breadcrumbs-item--disabled {
    color: #0e46a3;
    opacity: 1;
  }
}
.product {
  .product__img {
    width: 100%;
    border-radius: 38px;
    height: 638px;
    object-fit: cover;
  }
  .product-info {
    border-radius: 38px;
    padding: 2rem;
    height: 100%;
    .product-info_title {
      font-size: 24px;
      font-weight: 500;
    }
    .product-info_subtitle {
      font-size: 20px;
      font-weight: 700;
    }
    .product-info_items {
      width: 75%;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      gap: 1rem; /* Add gap between items */
      .product-info_item {
        width: 35rem;
        display: flex;
        justify-content: space-between;
        gap: 1rem; /* Add gap between label and value */
        padding: 0.5rem 0;
        .label,
        .value {
          flex: 1;
          text-align: right;
          white-space: nowrap;
        }

        .label {
          text-align: right;
        }
      }
    }
    .product-info_price {
      font-size: 20px;
      .product-info_price-button {
        letter-spacing: 0;
        border-radius: 16px;
        font-size: 18px;
      }
    }
  }
  .customise {
    .product-info_customize-btn {
      letter-spacing: 0;
      background-color: rgba(219, 228, 198, 0.4);
      border-radius: 16px;
    }
    .customise-info_selectboxes {
      // width: 60%;
      width: 85%;
    }
  }
}
@media (max-width: 1020px) {
  .product {
    .product__img {
      height: unset;
    }
    .product-info_title {
      font-size: 28px;
    }
    .product-info_item {
      width: 25rem;
    }
  }
}
@media (max-width: 430px) {
  .product {
    .product-info_title {
      font-size: 18px !important;
    }
    .product-info_subtitle {
      font-size: 14px !important;
    }
    .product-info_items {
      font-size: 14px !important;
    }
    .product-info_price {
      font-size: 14px !important;
      .product-info_price-button {
        font-size: 14px !important;
      }
    }
  }
}
@media (max-width: 630px) {
  .product {
    .product-info_item {
      width: 20rem !important;
    }
  }
}
@media (max-width: 1020px) {
  .customise {
    .customise-info_selectboxes {
      // width: 60%;
      width: 100% !important;
    }
    .product-info_customize-btn-wrapper {
      width: 100%;
    }
  }
}
.selectbox {
  .v-field {
    border-radius: 16px;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
.v-menu {
  .v-overlay__content {
    border-radius: 1rem;
    // transform-origin: right top 10px !important;
    // top: -1rem !important;
    .v-list {
      background: #fff9ec !important;
      box-shadow: none;
    }
  }
  .v-select__content {
    box-shadow: none;
  }
  .v-list-item--variant-text:hover {
    background-color: rgba(241, 244, 232, 1);
    border-radius: 2rem;
  }
  .v-list-item {
    margin: 12px;
    border-radius: 1rem !important;
    .v-list-item__overlay {
      border-radius: 1rem;
    }
  }
}
.about {
  .about-wrapper__content-title {
    font-size: 24px;
  }
  .about-wrapper__content-text1 {
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
  }
  .about-wrapper__content-text2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
    text-align: justify;
  }
  .about-wrapper__content-text3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
    text-align: justify;
  }
  .about-wrapper__img {
    height: 100%;
    position: relative;
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(219, 228, 198, 0.2);
      border-radius: 38px;
    }
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 38px;
    }
  }
}
@media (max-width: 1020px) {
  .about {
    .about-wrapper__content-title {
      font-size: 28px;
    }
    .about-wrapper__content-text1 {
      font-size: 16px;
      line-height: 42px;
    }
    .about-wrapper__content-text2 {
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 2rem;
    }
    .about-wrapper__content-text3 {
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 2rem;
    }
    .about-wrapper__img {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        border-radius: 38px;
      }
    }
  }
}
@media (max-width: 430px) {
  .about {
    .about-wrapper__content-title {
      font-size: 22px;
    }
    .about-wrapper__content-text1 {
      font-size: 14px;
      line-height: 37px;
    }
    .about-wrapper__content-text2 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 2rem;
    }
    .about-wrapper__content-text3 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 2rem;
    }
    .about-wrapper__img {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        border-radius: 38px;
      }
    }
  }
}
.contact {
  .contact-wrapper {
    // .custom-gap > * {
    //   padding-left: 40px;
    //   padding-right: 40px;
    // }

    // .custom-gap > *:first-child {
    //   padding-left: 0;
    // }

    // .custom-gap > *:last-child {
    //   padding-right: 0;
    // }
    .custom-gap {
      gap: 0; /* Default gap */
    }

    .contact-wrapper_card {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5rem 1.5rem;
      font-size: 20px;
      position: relative;
      height: 100%;
      .contact-wrapper_card-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 245, 224, 1);
        span {
          font-size: 30px;
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .contact {
    .contact-wrapper {
      .custom-gap {
        gap: 36px; /* Increased gap for mobile view */
      }
      .contact-wrapper_card {
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
          rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
          rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
          rgba(0, 0, 0, 0.07) 0px 32px 64px;
      }
    }
  }
}
@media (max-width: 430px) {
  .contact {
    .contact-wrapper {
      .contact-wrapper_card {
        height: 220px;
      }
    }
  }
}
.expansion-wrapper {
  border-radius: 30px;
  margin-bottom: 2rem;
}
.dashboard-wrapper {
  display: flex;
  border-radius: 50px;
  background-color: rgba(219, 228, 198, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  .dashboard-nav {
    padding: 2rem;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 12rem;
    .dashboard-nav_profile {
      margin-bottom: 4rem;
    }
    .dashboard-nav_items {
      .dashboard-nav_item {
        text-align: center;
        list-style: none;
        margin-bottom: 3rem;
        font-size: 16px;
        a {
          color: rgba(0, 0, 0, 1);
          text-decoration: none;
        }
      }
    }
  }
}
.blog-wrapper {
  .blog-wrapper_card {
    border-radius: 38px;
    background: rgba(255, 251, 243, 1);
    padding: 1.5rem;
    .blog-wrapper_card-img {
      img {
        height: 362px;
        width: 100%;
        border-radius: 38px;
        object-fit: cover;
      }
    }
    .blog-wrapper_card-title {
      font-size: 24px;
    }
    .blog-wrapper_card-text {
      font-size: 20px;
      margin-top: 3rem;
      font-weight: 300;
      line-height: 34px;
        text-align: justify;
    }
    .blog-wrapper_card-btn {
      margin-top: 3rem;
    }
  }
}
@media (max-width: 960px) {
  .blog-wrapper {
    .blog-wrapper_card {
      .blog-wrapper_card-title {
        font-size: 20px;
      }
      .blog-wrapper_card-text {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}
@media (max-width: 430px) {
  .blog-wrapper {
    .blog-wrapper_card {
      .blog-wrapper_card-img {
        img {
          height: 208px;
        }
      }
      .blog-wrapper_card-title {
        font-size: 18px;
      }
      .blog-wrapper_card-text {
        margin-top: 1rem;

        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
